.aos-right {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.aos-left {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1s;
}

.aos-up {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(100%);
	transition: all 1s;
}

.aos-down {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-100%);
	transition: all 1s;
}

.aos-down-right {
	opacity: 0;
	filter: blur(5px);
	transform: translate(-100%, -100%);
	transition: all 1s;
}

.aos-up-left {
	opacity: 0;
	filter: blur(5px);
	transform: translate(100%, 100%);
	transition: all 1s;
}

.aos-down-left {
	opacity: 0;
	filter: blur(5px);
	transform: translate(100%, -100%);
	transition: all 1s;
}

.aos-up-right {
	opacity: 0;
	filter: blur(5px);
	transform: translate(-100%, 100%);
	transition: all 1s;
}

.aos-show {
	opacity: 1;
	filter: blur(0);
	transform: translate(0, 0);
}
